* {
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    background-color: #45567d;
  }
  
  hr::after {
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
    background-color: #45567d;
  }
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #001f3f;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #39CCCC;
}



.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    width: 100%;
    height: 100vh;
    
    background-color: #45567d;
    /* background-color: blue;
    background: rgb(2, 0, 36);
    background: linear-gradient(39deg, rgba(2, 0, 36, 0.8206932431175595) 0%, rgb(66, 66, 165) 31%, rgba(0, 212, 255, 1) 100%); */


}

.info-container div {

    margin: 60px;
    margin-bottom: 20px;

}

.info {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;


}

.info h1 {
    font-size: 60px;
    font-style: italic;
    color: rgb(226, 246, 246);
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

.info h3 {
    color: rgba(227, 235, 242, 0.704);
    font-weight: 200;
}

.info div {
    width: 50vw;
    padding-top: 50px;
    color: #c3c8d3b1;
}

/* .info-container .profile-image {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

} */

.info-container .profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .info-container .profile-image {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    .info-container .profile-image {
        width: 200px;
        height: 200px;
    }
}


.works {
    width: 100%;
    height: 100%;
    background-color: #45567d;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 50px;

}

.works h2 {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: rgb(122, 154, 148);

}

.works .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 100px 50px 0 100px;
}

.works .container .box {
    width: 250px;
    height: 300px;
    background-color: #45567d;
    margin: 20px;
    padding: 60px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.works .container div:hover {
    transform: scale(1.03);
    transition: 0.1s ease-in-out;
    box-shadow: 13px 16px 33px -12px rgba(0, 0, 0, 0.85);
    position: relative;
    z-index: 0;
}

.works .container a .box img {
    width: 100%;
    object-fit: fill;
  }

/* Resume Section */
#resume {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #45567d;
    line-height: 5em;
  }
  
  #resume h1 {
    font-size: 40px;
    color: rgb(122, 154, 148);
  }
  
  
  #resume a {
    font-size: 1.5em;
    color: #007bff;
    text-decoration: none;
  }
  #resume img {
    width: 20vw;
  }
  
  #resume a:hover {
    color: #0056b3;
  }
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5em;
    padding-top: 50px;
    background-color: #45567d;
  }
  
  #contact h2 {
    font-size: 40px;
    margin-bottom: 2em;
    color: rgb(122, 154, 148);
  }
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-icons i {
    width: 50px;
    font-size: 40px;
    height: 50px;
    color: #001f3f;
  }
  
  #phone-icon {
    cursor: pointer;
  }

  
  #phone-number {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  #phone-number.hidden {
    display: none;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input, form textarea {
    width: 70vw;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form #message {
    height: 100px;
  }
  
  form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 600px) {
    .project-slider {
      flex-direction: row;
      overflow-x: scroll; /* Enable horizontal scrolling */
    }
  
    .project-card {
      width: 80%; /* Adjust card width for small screens */
    }
  }



@media (max-width: 955px) {
    .works .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .info-container {
        flex-direction: column;
    }

    .info-container .info {
        margin-top: 10%;
    }

    .info-container div {
        margin: 0px;


    }

    .info-container .profile-image {
        margin-top: 50px;
    }
     /* for resume*/
     #resume {
        padding-top: 100px;
    }

    #resume img {
        width: 200px;
    }

}

@media (max-width: 668px) {
    

    .info-container .info {
        margin-top: 220px;
    }

    /* Reduce font size for headings on smaller screens */
    .info h1 {
        font-size: 30px;
    }

    .info h3 {
        font-size: 18px;
    }



    /* Stack the navigation items vertically */

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        padding: 10px;
    }

    /* Adjust the project grid for mobile */
    .works {
        padding-top: 200px;
    }
    .works .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7%;
    }

    .works .container .box {
        padding-left: 0px;
    }
    .works .container a .box img {

        margin-left: 55px;
      }

    /* Adjust the width of the text container in .info section */
    .info div {
        width: 80vw;
    }

    /* for resume*/
    #resume {
        padding-top: 100px;
    }

    #resume img {
        width: 200px;
    }
    
    /* Ensure contact icons are responsive */
    #contact {
        padding-top: 200px;
    }

    .contact-icons {
        gap: 10px;
    }
}
